*{
    margin: 0px;
}


  section#hero  img{
    width: 100%;
     /* background-image: url(}
        'images/effiltower.webp'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
    position:relative;
    

}
.content{
    position: absolute;
    top:6%  ;
    margin-left: 17%;
}
div#header{
    display: flex;
}.mainmenu nav {
    text-decoration: none;
    gap: 40px;
    display: flex;
    width: 100%;
    justify-content: end;
    margin: auto;
}
/* dated 4-12-2025 */
.logo {
    width: 50%;
    z-index: 3;
}
.mainmenu {
    width: 50%;
}
.mainmenu nav {
    text-decoration: none;
    gap: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 18px;
}
.mainmenu nav a {
    font-style: normal;
    font-family: Karla;
    font-weight: 500;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 21px;
}
.logo img {
    margin-left: 83px;
    margin-top: 12px;
}
.heading h1 {
    color: rgb(255, 255, 255);
    font-size: 69px;
    font-style: normal;
    text-align: center;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 90px;
}
.heading p {
    color: white;
    font-size: 25px;
    font-weight: 900;
    width: 56%;
    text-align: center;
    margin-top: -39px;
}
section#hero {
    width: 100%;
    height: 735px;
    content: "";
    position: absolute;
    top: -24px;
    z-index: 0;
    /* opacity: 0.35; */
    background-color: rgba(0,0,0,0.10);
}
div#header {
    position: relative;
    z-index: 2;
}
/* 6/12/2025 */
.heading {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 270px;
    /* height: 100px; */
}
.feature {
    justify-content: center;
    content: size 10px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;

    background-color: white;
    padding: 20px;
    border-radius: 30px;

}
.inputfield{
    border: none;
    margin: 0px 20px;
     
    
}
.section2{
    display: flex;
    margin-top: -4px;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: rgb(20, 220, 177);
    padding: 40px;
    height: 90px;
}
.section3{ 
    
    width: 100%;
    margin-top:150px ;
    text-align: center;
    font-size: 35px;
    height: 300px;


} 
.section3 p{
font-size: 20px;
}
.secondfeatures{
    
    width: 500px;
     display: flex;
    margin-top: 80px;
    margin-left: 450px; 
    justify-content: space-evenly;
     
}
    .inputfield2{
        background-color: white;
  padding: 20px; 
  border-radius: 60px;   
}
.inputfield2color{
    background-color: rgb(233, 218, 10);
    border-radius: 60px;
    padding: 20px
}
.section4{
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    margin-top: 80px;
    

}
.images h2{
    margin-top: 30px;
}
.images{
    width: 28%
}

.buttonfeatures{
    width: 600px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    margin-left: 27%;

}
.inputfield3{
     background-color:white;
    padding: 20px;
    border-radius: 100px;
    
    
   
}    

.inputfield3color{
    background-color: yellowgreen;
    border-radius: 60px;
    padding: 20px;
    
    border: none;
}
.inputfield3limit{
    background-color: white;
    border: none;
}

.section5{
    
        background-color:darkgray;
        text-align: center;
        
    width: 100%;
    margin-top: 40px;

}
.content2 h3{
    
    width: 100%;
    margin-right: 70%;
    margin-top: 80px;
    justify-content: space-evenly;
    
}

.section5 p{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    font-size:40px;
    font-style:italic;
    
}
.refrence{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.content2 {
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: inherit;
    display: flex;
    flex-direction: column;
}
.section5 {
    background-color: darkgray;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img#picture {
    width: 10%;
    border-radius: 50%;
}
.image1 {
    display: flex;
    flex-direction: row;
   
    margin-top: 40px;
  
    width: 100%;
    margin: auto;
}
.image1 h2{
    display: flex;
    
}
img#picture {
    width: 120px !important;
    margin-left: 206px;
    padding: 32px;
}
.image1 h2 {
    padding-top: 72px;
    font-style: italic;
}
.inputfield4{
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 40px;
    padding: 28px;
    border-radius: 30%;
    
    
}





    


     
      
    
    

 

